.cardcontainer {
    border: none;
    box-shadow: lightgray;
    border-radius: 1rem;
    flex-direction: column;
    width: 15rem;
    height: 25rem;
    overflow:hidden;
    background-color: black;
    color: white;
    text-align: center;
overflow-wrap: break-word;
    margin: 1.5rem;
    padding-bottom: 1rem;
}
.cardcontainer img {
    width: 15rem;
    height: 18rem;
    }
    
    .text {
        line-height: 0.8rem;
    }
    
    .add p .heading {
        font-size: larger;
            height: 3rem;
        }
.descp {
    overflow: hidden;
        height: 4rem;
    }
    
    .cardlist {
    display: flex;
}
.btn {
    color:white;
    background-color: rgb(120, 182, 240);
    border: none;
    padding: 1rem;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    border-radius: 1rem;
    margin-left: 50%;
    
}
.btn:hover{
    opacity: 2;
}
@media (min-width: 300px) and (max-width: 780px) {}